* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color:darkslategray;
}
.App {
  text-align: center;
}








.textarea {
  width: 600px; /* Ajusta el ancho del textarea según sea necesario */
  height: 400px; /* Ajusta la altura del textarea según sea necesario */
  margin: 0; /* Resetea todos los márgenes */
  
  margin-left: 15px;
  color: black;
  
}
input{
  
}