body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.textarea {
  width: 600px; /* Ajusta el ancho del textarea según sea necesario */
  height: 400px; /* Ajusta la altura del textarea según sea necesario */
  margin: 0; /* Resetea todos los márgenes */
  border: black;
  margin-left: 15px;
  color: black;
}



